<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MichaelsDataManipulator.Properties.Settings.EventsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Events.accdb"
            providerName="System.Data.OleDb" />
        <add name="MichaelsDataManipulator.Properties.Settings.EventsConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\prod\root\S_Drive\USGR-Shared\MichaelDeGroot\Events.accdb"
            providerName="System.Data.OleDb" />
        <add name="MichaelsDataManipulator.Properties.Settings.EventDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\prod\root\S_Drive\USGR-Shared\MichaelDeGroot\EventDatabase.accdb"
            providerName="System.Data.OleDb" />
        <add name="MichaelsDataManipulator.Properties.Settings.SimplotDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;\\prod\root\S_Drive\USGR-Shared\SimPlot DATA\SimplotDatabase.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>